<h1>Categories</h1>

  <strong>Title:</strong>

<h1><%= @adv_category.advertisements.each do |advertisement| %></h1>
      <%= link_to advertisement.name, advertisement_path(advertisement) %>


<%= link_to 'Back', adv_categories_path %>
<%= link_to 'Edit', edit_adv_category_path(@adv_category) %>
<%= link_to 'Destroy', adv_category_path(@adv_category),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>

