<hr class="">
<div class="target">
  <div class="row">
    <div class="col-sm-10">
      <h1 class=""><%= @user.email%></h1>
      <br>
    </div>
    <div class="col-sm-2"><a href="/users" class="pull-left"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false"><%= link_to "Profile edit", edit_user_registration_path %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= current_user.created_at.strftime("%m/%d/%Y")  %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real name</strong></span><%= current_user.name%></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>
        </div>
        <div class="panel-body"><a href="http://example.com" class="">example.com</a>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Advertisements</strong></span><%= current_user.advertisements.count if current_user.advertisements %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Feedbacks</strong></span><%= current_user.feedbacks.count if current_user.feedbacks %></li>
      </ul>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" style="" contenteditable="false">
      <div class="panel panel-default">
        <div class="panel-heading"><%= @user.email%>'s Advetrisements</div>
        <div class="panel-body">
          <table>
            <tr>
              <th>Title</th>
              <th colspan="3"></th>
            </tr>

            <% @advertisements.each do |advertisement| %>
              <tr>
                <td><%= advertisement.name %></td>
                <td><%= link_to 'Show', advertisement_path(advertisement) %></td>
                <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
                <td><%= link_to 'Destroy', advertisement_path(advertisement),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
          <h4><%=link_to 'Add new advertisement', new_advertisement_path %></h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><%= @user.email%>'s Feedbacks</div>
        <div class="panel-body">
          <table>
            <tr>
              <th>Advertisement</th>
              <th style="text-align:center">Feedback text</th>
              <th colspan="3"></th>
            </tr>

            <% @feedbacks.each do |feedback| %>
              <tr>
                <td><%= feedback.advertisement.name %></td>
                <td><%= feedback.text %></td>
                <td><%= link_to 'Show advertisement', advertisement_path(feedback.advertisement) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>
</div>
<footer id="footer">
    <div class="row-fluid">
        <div class="span3">
            <p> 
                <a href="https://github.com/dsirko/BillBoardSloboda2" title="Billboard Sloboda on GitHub" target="ext">GitHub</a><br>
            </p>
        </div>
    </div>
</footer>

               