<h1>Edit Advertisement</h1>

<%= simple_form_for @advertisement do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

<br/>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

<br/>

  <p>
    <%= f.file_field :photo %>
  </p>


<br/>

    <p>
      <%= f.association :adv_category, collecion: AdvCategory.all, prompt: "Choose a category" %>
    </p>
<br/>

  <p>
    <%= f.association :tags, collecion: Tag.all, prompt: "Choose a Tag" %>
  </p>  

<br/>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<br/>
<%= link_to 'Back', advertisements_path %>