<h1><%= t '.title' %></h1>

<%= form_tag(advertisements_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t '.search', :name => nil %>
  </p>
<% end %>
<br/>

<%= will_paginate @advertisements %>

  <table border="1" width="100%" cellpadding="15" rules="ROWS">

    <% @advertisements.each do |advertisement| %>
      <tr>
        <td valign="top" ><h3><%= advertisement.name %></h3>
        <%= advertisement.text %>
        <%= link_to (t '.more'), advertisement_path(advertisement) %><br/>
        <b><%= t '.category' %></b>
        <%= link_to (advertisement.adv_category.name), adv_category_path(advertisement.adv_category_id) %><br/>
        <b><%= t '.owner' %></b>
        <%= link_to (advertisement.owner.name), user_path(advertisement.owner) %></td>
      </tr>
    <% end %>
  </table>

<h3><%= link_to (t '.add_new_advertisement'), new_advertisement_path %></h3>