<h1>Advertisements</h1>

<%=link_to 'New advertisement', new_advertisement_path %>

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>

    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.name %></td>
        <td><%= advertisement.text %></td>
        <td><%= advertisement.owner.email %></td>
        <td><%= link_to 'Show', advertisement_path(advertisement) %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement_path(advertisement),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
