<h1><%= t '.title' %></h1>

<%= form_tag(advertisements_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t '.search', :name => nil %>
  </p>
<% end %>
<br/>

<%= will_paginate @advertisements %>

  <table>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.text' %></th>
      <th>Category</th>
      <th><%= t '.owner' %></th>
      <th colspan="3"></th>
    </tr>

    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.name %></td>
        <td><%= advertisement.text %></td>
        <td><%= advertisement.adv_category.name %></td>
        <td><%= advertisement.owner.email %></td>
        <td><%= link_to (t '.show'), advertisement_path(advertisement) %></td>
        <td><%= link_to (t '.edit'), edit_advertisement_path(advertisement) %></td>
        <td><%= link_to (t '.destroy'), advertisement_path(advertisement),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

<h3><%= link_to (t '.add_new_advertisement'), new_advertisement_path %></h3>