<h1><%= t '.title' %></h1>

<%= form_tag(advertisements_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t '.search', :name => nil %>
  </p>
<% end %>
<br/>

<%= will_paginate @advertisements %>

  <table>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><h4 style="text-indent: 30px;" ><%= advertisement.name %></h4>
        <%= advertisement.text %>
        <%= link_to (t '.more'), advertisement_path(advertisement) %><br/>
        <b><%= t '.category' %></b>
        <%= link_to (advertisement.adv_category.name), adv_category_path(advertisement.adv_category_id) %><br/>
        <b><%= t '.owner' %></b>
        <%= link_to (advertisement.owner.name), user_path(advertisement.owner) %><br/><br/></td>
      </tr>
    <% end %>
  </table>

<div style="text-indent: 30px; font-size: 150%; font-weight: bold;">
  <% if current_user != nil %>
    <%= link_to (t '.add_new_advertisement'), new_advertisement_path %>
    <% else %>
    <%= link_to (t '.sign_in_for_add_new_advertisement'), new_user_session_path, method: :get %>
  <% end %>
</div>