<h1>New Advertisement</h1>

<%= simple_form_for Advertisement.new do |f| %>

 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

<br/>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

<br/>

  <p>
    <%= f.label :choose_a_tag %><br>
    <%= f.association :tags, collecion: Tag.all %>
  
  </p>  
  



<br/>

  <p>
    <%= f.submit %>
  </p>
<% end %>




<br/>

  <%=simple_form_for Tag.new do |x| %>
    <p>
      <%= x.label :or_make_new_tag_before %><br>
      <%= x.text_field :name %>
    </p>

    <p>
      <%= x.submit %>
    </p>
  <% end %>



<br/>
<%= link_to 'Back', advertisements_path %>
