<h1><%= t '.title' %></h1>

<%= simple_form_for Advertisement.new do |f| %>

 
  <p>
    <%= f.label (t '.name') %><br>
    <%= f.text_field :name %>
  </p>

<br/>

  <p>
    <%= f.label (t '.text') %><br>
    <%= f.text_area :text %>
  </p>

<br/>

  <p>  
    <%= f.label (t '.tag') %><br>
    <%= f.association :tags, collecion: Tag.all %>
  
  </p>

<br/>

    <p>
      <%= f.label :choose_a_adv_category %><br>
      <%= f.association :adv_category, collecion: AdvCategory.all %>

    </p>

<br/>

  </p>  
  
<br/>

  <p>
    <%= f.submit (t '.create_adv') %>
  </p>
<% end %>

<br/>

  <%=simple_form_for Tag.new do |x| %>
    <p>
      <%= x.label (t '.make_new_tag_before') %><br>
      <%= x.text_field :name %>
    </p>

    <p>
      <%= x.submit (t '.create_tag') %>
    </p>
  <% end %>

<br/>

<br/>
<%= link_to (t '.back'), advertisements_path %>