<h1><%= @advertisement.name %></h1>

<p>
  <strong>Text:</strong>
  <%= @advertisement.text %>
</p>

<hr>

<p>
  <strong>Owner:</strong>
  <%= @advertisement.owner.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advertisement.adv_category.name %>


<h3>Tags:</h3>

 <% @advertisement.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
 <% end %>


<br><br>

<h3>Feedbacks</h3>

<table>
    <tr>
      <th>User</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>

    <% @advertisement.feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.email if feedback.user %></td>
        <td><%= feedback.text %></td>
        <td><%= link_to 'Delete Feedback', [feedback.advertisement, feedback],
                 method:  :delete,
                 data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

</br>

</br>
  <h3>Add a feedback:</h3>
  <%= form_for([@advertisement, @advertisement.feedbacks.build]) do |f| %>
    <p>
      <%= f.text_area :text %>
    </p>
    </br>
    <p>
      <%= f.submit %>
    </p>
  <% end %>



<br/>
<%= link_to 'Back', advertisements_path %>
<%= link_to 'Edit', edit_advertisement_path(@advertisement) %>



