<p>
  <strong>Title:</strong>
  <h1><%= @advertisement.name %></h1>
</p>

<p>
  <strong>Text:</strong>
  <%= @advertisement.text %>
</p>

<hr>

<p>
  <strong>Owner:</strong>
  <%= @advertisement.owner.email %>
</p>
 

<h2>Tags</h2>

<%= @advertisement.tags.map(&:name).join(', ') %>

</br>

</br>

<h2>Feedbacks</h2>

<% @advertisement.feedbacks.each do |feedback| %>
  <p>
    <strong>User:</strong>
    <%= feedback.user.email if feedback.user %> 

  </p>
  <p>
    <strong>Feedback:</strong>
    <%= feedback.text %>
  </p>
  <p>
    <%= link_to 'Delete Feedback', [feedback.advertisement, feedback],
                 method:  :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

</br>

</br>
  <h3>Add a feedback:</h3>
  <%= form_for([@advertisement, @advertisement.feedbacks.build]) do |f| %>
    <p>
      <%= f.text_area :text %>
    </p>
    </br>
    <p>
      <%= f.submit %>
    </p>
  <% end %>



<br/>
<%= link_to 'Back', advertisements_path %>
<%= link_to 'Edit', edit_advertisement_path(@advertisement) %>
